<!--
Usage Example:

Supports all HTMLButton attributes

<dx-button @click="method" class='.btn .btn-primary'>Save</dx-button>
-->

<template>
  <button v-bind="$attrs">
    <slot />
  </button>
</template>
