<!--
Usage Example:

The given field variables are implements from Field interface. 
Give a elements and set its own configuration as json.
So it will render an form.<template>

<dx-form-builder ref="form" v-model="fields" :submit="submit" />
-->

<template>
  <div class="container">
    <div class="d-flex justify-content-center">
      <form autocomplete="off" class="login" @submit.prevent="submit" v-on:keydown.enter.prevent>
        <div class="row">
          <div :key="key" v-for="(field, key) of value_" :class="field.class">
            <fieldset>
              <label v-if="field.label !== false" class="form-label" :for="field.id">
                {{ toCamelCase(field.name) }}
              </label>
              <!-- Select -->
              <select
                v-model="field.value"
                :id="field.id"
                v-if="field.type === 'select'"
                :required="!!field.required"
                autocomplete="off"
                class="form-select"
                :name="setPropertyName(field.name)"
                v-bind="field.attributes"
              >
                <option :key="index" v-for="(option, index) in field.items" v-bind:value="option.value">
                  {{ option.text }}
                </option>
              </select>
              <!-- Textarea -->
              <textarea
                v-model="field.value"
                :id="field.id"
                v-else-if="field.type === 'textarea'"
                :required="field.required || true"
                autocomplete="off"
                class="form-control"
                :name="setPropertyName(field.name)"
                v-bind="field.attributes"
              />
              <!-- Check and Radio -->
              <template v-else-if="field.type === 'checkbox' || field.type === 'radio'">
                <!-- checkbox with custom label -->
                <template v-if="!field.items">
                  <div class="form-check">
                    <input
                      v-model="field.value"
                      :id="field.id"
                      :required="field.required || true"
                      autocomplete="off"
                      class="form-check-input"
                      :type="field.type"
                      :name="setPropertyName(field.name)"
                      v-bind="field.attributes"
                    />
                    <label :for="field.id" class="form-check-label">
                      <component :is="componentTransformer(field)" />
                    </label>
                  </div>
                </template>
                <!-- Multiple Checkbox / Radio -->
                <template v-else-if="field.group">
                  <div :class="{ 'btn-group': field.group }" :role="field.group">
                    <template :key="index" v-for="(option, index) in field.items">
                      <input
                        v-model="field.value"
                        :id="field.id + '_' + index"
                        :required="field.required"
                        autocomplete="off"
                        class="btn-check"
                        :type="field.type"
                        :value="option.value"
                        :name="setPropertyName(field.name)"
                        v-bind="field.attributes"
                      />
                      <label :for="field.id + '_' + index" class="btn btn-outline-primary">
                        {{ option.text }}
                      </label>
                    </template>
                  </div>
                </template>
                <template :key="index" v-for="(option, index) in field.items" v-else>
                  <div :class="{ 'form-check-inline': field.inline }" class="form-check">
                    <!--:required="field.required || true"-->
                    <input
                      v-model="field.value"
                      :id="field.id + '_' + index"
                      :required="field.required"
                      autocomplete="off"
                      class="form-check-input"
                      :type="field.type"
                      :value="option.value"
                      :name="setPropertyName(field.name)"
                      v-bind="field.attributes"
                    />
                    <label :for="field.id + '_' + index" class="form-check-label">
                      {{ option.text }}
                    </label>
                  </div>
                </template>
              </template>
              <!-- Input (text, email, file, number etc.) -->
              <input
                v-model="field.value"
                :id="field.id"
                v-else
                :required="field.required || true"
                autocomplete="off"
                :type="field.type"
                :class="[field.type !== 'submit' && field.type !== 'button' ? 'form-control' : '', field.attributes && field.attributes.class]"
                :name="setPropertyName(field.name)"
                v-bind="reduceMethods(field)"
              />
              <div v-bind:id="field.name + 'Help'" v-if="field.description" class="form-text">
                {{ field.description }}
              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';

  export interface Field {
    name: string; // id of the form element and it will also placed above as title of the form element
    id: string;
    type?: string; // supported form types are 'select, text, number, date'
    value?: string; // input default initial value
    description?: string; // description will be placed under the form element
    items?: { text: string; value: any }[]; // select, radio or checkbox options
    events?: { [key: string]: (field: Field) => void }; // event handler
    required?: boolean; // default is true
    class?: string; // css class name
    inline?: boolean; // group checkboxes or radios on the same horizontal row by adding .form-check-inline to any .form-check
    attributes?: any;
    group?: boolean;
    html?: {
      template: string; // checkbox or radio text, it also accepts html
      methods: { [key: string]: () => void }[]; // custom component methods
    };
  }

  const DxFormBuilder = defineComponent({
    name: 'dx-form-builder',
    props: {
      submit: { type: Function, default: (): Field[] => [] },
      modelValue: { type: Array, default: (): Field[] => [] },
      carbon: { type: Number },
    },
    data() {
      return {
        username: '',
        password: '',
        carbon_: this.carbon,
        // value_m: (() => {
        //   // eslint-disable-next-line @typescript-eslint/no-this-alias
        //   const _this: any = this;
        //   const func = (field: Field) => {
        //     console.log(_this);
        //     (field as Field).id = _this.setId(field);
        //     return field;
        //   };
        //   const t = this.value.map(func as any);
        //   this.$emit('input', t);
        //   return t;
        // })(),
      };
    },
    computed: {
      // value_: {
      //   get(): any {
      //     // return this.value;
      //   },
      //   set(newValue: string) {
      //     // console.log('####set:' + this.value);
      //     const val = newValue ? newValue : [];
      //     this.$emit('input', val);
      //   },
      // },
      value_(): unknown[] {
        return this.modelValue;
      },
    },
    watch: {
      value_m: {
        handler: function () {
          console.log('deep change sample: ', this.modelValue);
          this.$emit(
            'update:modelValue',
            this.modelValue.map(((field: Field): Field => {
              (field as Field).id = this.setId(field);
              return field;
            }) as any),
          );
        },
        deep: true,
        immediate: true,
      },
    },
    mounted(): void {
      console.log('## form.builder');
      (this.$parent as any)['children'] = this.$refs;
    },
    methods: {
      componentTransformer({ html }: Field) {
        const { template, ...rest } = html ? html : { template: '' };
        return {
          template: this.hasParentTag(template),
          ...rest,
        };
      },
      toCamelCase(value: string) {
        return value
          .trim()
          .split(' ')
          .map((item) => item.charAt(0).toUpperCase() + item.slice(1))
          .join(' ');
      },
      hasParentTag(value: string) {
        const parent = document.createElement('div');
        parent.classList.add('custom-component');
        parent.innerHTML = value;
        const childNodes: NodeList = parent.childNodes;
        return childNodes.length === 1 && parent.firstChild?.constructor.name !== 'Text' ? value : parent.outerHTML;
      },
      runMethod(field: Field, eventType: string) {
        console.log('field');
        field.events && field.events[eventType](field);
      },
      reduceMethods(field: Field) {
        const events: any = field.events
          ? Object.entries(field.events).reduce((result, [name, method]) => ({ ...result, [`${name}`]: () => method(field) }), {})
          : {};
        return { ...field.attributes, ...events };
      },
      setPropertyName(text: string) {
        return text
          .replace(/\w+\S*/g, (matched, offset) =>
            offset > 0 ? matched.charAt(0).toUpperCase() + matched.substr(1).toLowerCase() : matched.toLowerCase(),
          )
          .replace(/(\s|\W)+/g, '');
      },
      setId(field: Field) {
        field.id = field.attributes && field.attributes.id ? field.attributes.id : this.setPropertyName(field.name);
        return field.id;
      },
      translate() {
        var template = 'My name is {name} and my age is {age}.';
        var properties: any = { name: 'xyz', age: 24 };

        var t = template.replace(/{(.+?)}/g, (m, key) => {
          console.log(m, key);
          return properties[key] || m;
        });
        console.log(t);
      },
    },
  });

  export default DxFormBuilder;
</script>

<style lang="scss" scoped>
  form {
    border: 1px solid #eee;
    padding: 30px;
    margin: 30px;
    text-align: left;
  }

  fieldset {
    padding-bottom: 15px;

    &:not(:last-of-type) {
      padding-bottom: 15px;
    }

    label.form-label {
      width: 100%;
      text-align: left;
      font-weight: 500;
    }

    input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='file']) {
      width: 100%;
    }

    select:invalid {
      color: gray;
    }
  }
</style>
