<template>
  <button @click="emitSample">artır {{ counter }}</button>
</template>

<script lang="ts">
  import { Options, Vue } from 'vue-class-component';

  @Options({
    name: 'emitter',
    emits: ['trigger'],
  })
  export default class Emitter extends Vue {
    counter = 0;
    domates: number = 111;

    emitSample(): number {
      this.counter++;
      console.log(this.domates);
      this.$emit('trigger', this.counter);
      return 10;
    }
  }
</script>
