<template lang="html">
  <input v-model="editableValue" class="v-tag-input" type="text" />
</template>
<script lang="ts">
  import { defineComponent } from 'vue';

  export default defineComponent({
    name: 'v-model-one',
    props: {
      modelValue: {
        type: String,
        default: '',
      },
      separator: {
        type: String,
        default: ' ',
      },
    },
    computed: {
      editableValue: {
        get(): string {
          return this.modelValue;
        },
        set(newValue: string) {
          this.$emit('update:modelValue', newValue);
        },
      },
    },
  });
</script>
