<template>
  <input :value="modelValue" @input="changePageTitle" />
</template>
<script lang="ts">
  import { defineComponent } from '@vue/runtime-core';

  export default defineComponent({
    props: {
      modelValue: String, // previously was `value: String`
    },
    emits: ['update:modelValue'],
    methods: {
      changePageTitle(title: InputEvent): void {
        this.$emit('update:modelValue', (title.target as HTMLInputElement).value);
      },
    },
  });
</script>
