<template>
  <div class="not-found">
    <div>
      The page you are looking
      <b>{{ $route.params.pathMatch }}</b>
      for could not be found
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/runtime-core';

  export default defineComponent({
    name: 'dx-not-found',
    mounted(): void {
      console.info('The page you are looking for could not be found');
    },
  });
</script>

<style scoped>
  .not-found {
    border: 1px solid red;
  }
</style>
