<!--
Usage example:
<dx-select
  :items="[
    { value: 112, label: 'first' },
    { value: 113, label: 'last' },
    { value: 114, label: 'Türkçe Ve İstanğbul Çeçeşımrıküöldü' },
  ]"
  @click="onSelectClicked"
>
  <template v-slot="{ item, index }">
    <span>Text: {{ item.label }} "{{ index }}"</span>
  </template>
</dx-select>
-->

<template>
  <div>
    <input v-model="filter" />
    <b>{{ filter }}</b>
    <ul>
      <li :key="key" v-for="(item, key) of filtered" @click="onClick(item, key)">
        <slot :item="item" :index="key">{{ item.label }}</slot>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';

  export interface SelectItem {
    value: any;
    label: string;
  }

  const DxSelect = defineComponent({
    name: 'dx-select',
    props: {
      items: { type: Array, default: (): SelectItem[] => [] },
      delay: { type: Number, default: 800 },
    },
    data(): any {
      return {
        filter: '',
        filtered: [],
        timer: null,
      };
    },
    watch: {
      filter() {
        this.runFilter();
      },
    },
    created() {
      this.runFilter(0);
    },
    methods: {
      /**
       * Event trigger when clicked. It pass item and index of selected item in list
       */
      onClick(item: SelectItem, index: number) {
        this.selected = item;
        this.$emit('click', { item, index });
      },
      /**
       * Filter with delay time
       */
      runFilter(delay: number) {
        const filter = this.turkishToLower(this.filter);
        if (this.timer) {
          clearTimeout(this.timer);
          this.timer = null;
        }
        this.timer = setTimeout(() => {
          this.filtered = this.filter ? this.items.filter((item: SelectItem) => this.turkishToLower(item.label).includes(filter)) : this.items;
        }, delay ?? this.delay);
      },
      /**
       * https://gist.github.com/barlas/760cbf77b31c6922d159
       * This method returns turkish chars to english lowercase version
       *
       * __Usage:__
       * ```javascript
       * Util.turkishToLower("türkçeişğİIiıŞÜĞ");
       * ```
       */
      turkishToLower(value: string): string {
        let string = value;
        const letters: any = { İ: 'i', I: 'ı', Ş: 'ş', Ğ: 'ğ', Ü: 'ü', Ö: 'ö', Ç: 'ç' };
        string = string.replace(/(([İIŞĞÜÇÖ]))/g, (letter: string) => letters[letter]);
        return string.toLowerCase();
      },
    },
  });
  export default DxSelect;
</script>
