<template>
  <div class="container">
    <div class="d-flex justify-content-center">
      <form class="login" autocomplete="off" onsubmit="return false;" @submit.prevent="signUp">
        <div class="row">
          <div :key="key" v-for="(field, key) of fields_" class="" :class="field.class">
            <fieldset>
              <label v-if="field.type !== 'checkbox'" :for="field.name" :class="field.name">{{ toCamelCase(field.name) }}</label>
              <select
                v-model="field.value"
                :id="field.name"
                v-if="field.type === 'select'"
                :class="field.name"
                class="form-select"
                autocomplete="off"
                required
              >
                <option :key="index" v-for="(option, index) in field.options" v-bind:value="option.value">
                  {{ option.text }}
                </option>
              </select>
              <textarea
                v-model="field.value"
                :id="field.name"
                v-else-if="field.type === 'textarea'"
                :class="field.name"
                class="form-control"
                autocomplete="off"
              />
              <div v-else-if="field.type === 'checkbox'" class="form-check" :class="field.name">
                <input v-model="field.value" :id="field.name" type="checkbox" :class="field.class" class="form-check-input" autocomplete="off" />
                <label class="form-check-label" :for="field.name">
                  <component :is="componentTransformer(field)" />
                </label>
              </div>
              <input v-model="field.value" :id="field.name" v-else :type="field.type" :class="field.name" class="form-control" autocomplete="off" />
              <small v-bind:id="field.name + 'Help'" v-if="field.description" class="form-text text-muted">
                {{ field.description }}
              </small>
            </fieldset>
          </div>
        </div>
        <button type="button" class="btn btn-primary">Create</button>
      </form>
    </div>
    <div class="sample">
      <div>
        {{ JSON.stringify(fields_) }}
      </div>
      <div>
        {{ JSON.stringify(carbon_) }}
      </div>
      <div>
        <input v-model="carbon_" type="number" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import FirebaseConfig from '@/firebase/firebase';

  interface Field {
    name: string; // id of the form element and it will also placed above as title of the form element
    type?: string; // supported form types are 'select, text, number, date'
    maxLength?: number; // set number input max value
    minLength?: number; // set number input min value
    value?: string; // input default initial value
    description?: string; // description will be placed under the form element
    class: string; // css class name
    options?: { text: string; value: any }[]; // select options
    label: string; // checkbox or radio text
    click: () => void; // click event handler,
    methods: { [key: string]: () => void }[]; // custom component methods
  }

  const DxSignUp = defineComponent({
    name: 'dx-sign-up',
    props: {
      fields: { type: Array, default: (): Field[] => [] },
      carbon: { type: Number },
    },
    data() {
      return {
        username: '',
        password: '',
        carbon_: this.carbon,
        fields_: this.fields as Field[],
      };
    },
    computed: {
      firebase() {
        return new FirebaseConfig();
      },
      catcher(): Field[] {
        return this.fields_;
      },
    },
    watch: {
      fields_: {
        handler: function (val) {
          console.log(val);
        },
        deep: true,
        immediate: true,
      },
    },
    methods: {
      componentTransformer(field: Field) {
        return {
          template: '<div>' + field.label + '</div>',
          methods: field.methods,
        };
      },
      signUp() {
        this.firebase.signUp(this.username, this.password);
      },
      toCamelCase(value: string) {
        return value.charAt(0).toUpperCase() + value.slice(1);
      },
    },
  });

  export default DxSignUp;
</script>

<style scoped lang="scss">
  form {
    max-width: 845px;
    border: 1px solid #eee;
    padding: 30px;
    margin: 30px;
    text-align: left;
  }

  fieldset {
    padding-bottom: 15px;

    &:not(:last-of-type) {
      padding-bottom: 15px;
    }

    label {
      width: 100%;
      text-align: left;
    }

    input:not([type='checkbox']) {
      width: 100%;
    }

    select:invalid {
      color: gray;
    }
  }
</style>
