<template>
  <div class="about">
    <router-link :to="'/about/13'">send param</router-link>
    <h1>About Us</h1>
    <p>
      Operating with the vision of leading Turkey's digital transformation and globalization with the power of software, SabancıDx is a digital and
      analytics solution partner that undertakes the mission of carrying institutions to the future by producing sustainable benefits with innovative
      digital ideas. SabancıDx, with its expert staff, meets all the needs of companies in their digital transformation journey with its consultancy
      and technology services as well as new generation technologies, such as Advanced Data Analytics, Cyber Security, Industrial IoT, Robotic
      Workforce and Artificial Intelligence, which break new ground in the digital field.
    </p>
    <p>
      <b>Props:</b>
      <span v-html="id" />
    </p>
    <p>
      <b>route:</b>
      <span v-html="this.$route.params.id" />
    </p>
    <p>
      <b>computed:</b>
      <span v-html="this.parameter" />
    </p>
    <router-view />
  </div>
</template>
<script lang="ts">
  import { defineComponent } from 'vue';
  export default defineComponent({
    name: 'dx-about',
    props: {
      id: { require: true, type: String, default: '' },
    },
    computed: {
      parameter(): string {
        console.log(this.$route.params.id);
        return this.id;
      },
    },
  });
</script>
