<template>
  <div>
    <section>
      <h2>Filter</h2>
      <pre>{{ $filters.currency(221313) }}</pre>
    </section>
    <section>
      <h2>Directive</h2>
      <pre v-outlet />
    </section>
    <section>
      <h2>Loading</h2>
      <dx-button @click="startLoading">loading</dx-button>
    </section>
    <section>
      <h2>Button</h2>
      <dx-button @click="forDemo">dxButton</dx-button>
    </section>
    <section>
      <h2>Select with Filter</h2>
      <dx-select
        :items="[
          { value: 112, label: 'first' },
          { value: 113, label: 'last' },
          { value: 114, label: 'Türkçe Ve İstanğbul Çeçeşımrıküöldü' },
        ]"
        @click="onSelectClicked"
      >
        <template v-slot="{ item, index }">
          <span>Text: {{ item.label }} "{{ index }}"</span>
        </template>
      </dx-select>
    </section>
    <section>
      <h2>V-model One</h2>
      <v-model-one v-model="model" />
      <span>=> {{ model }}</span>
    </section>
    <section>
      <h2>V-model Two</h2>
      <v-model-two v-model="model" />
      <span>=> {{ model }}</span>
    </section>
    <section>
      <h2>Emitter</h2>
      <emitter @emit-sample="onEmit" />
    </section>
    <section>
      <h2>Computed</h2>
      <div v-html="computedValue" />
    </section>
    <section>
      <h2>Tab</h2>
      <dx-tabs ref="tab">
        <template #left="{ active, index }">
          <span>{{ active && active.title }} {{ index }}</span>
        </template>
        <dx-tab :active="false" :color="'is-info'" :icon="'fa-home'" :title="'Home'">tab1</dx-tab>
        <dx-tab :active="false" :color="'is-success'" :icon="'fa-info'" :title="'about me'">tab2</dx-tab>
        <dx-tab :active="true" :color="'is-primary'" :icon="'fa-rocket'" :title="'Services'">tab3</dx-tab>
        <template v-slot:right="{ active, index }">
          right content
          <span>{{ active && active.title }} {{ index }}</span>
        </template>
      </dx-tabs>
    </section>
  </div>
</template>
<script lang="ts">
  import { defineComponent } from 'vue';
  import { mapGetters, mapMutations } from 'vuex';

  import DxTabs from '@/components/tab/tabs.component.vue';
  import DxTab from '@/components/tab/tab.component.vue';
  import DxSelect from '@/components/select/select.component.vue';
  import DxButton from '@/components/button/button.component.vue';
  import VModelOne from '@/components/demo/v-model-one.vue';
  import VModelTwo from '@/components/demo/v-model-two.vue';
  import Emitter from '@/components/demo/emitter.vue';
  import { loginStore } from '@/components/login/config';
  import Outlet from '@/directives/outlet.vue';

  export default defineComponent({
    name: 'demo',
    components: {
      DxButton,
      VModelOne,
      VModelTwo,
      Emitter,
      DxTab,
      DxTabs,
      DxSelect,
    },
    directives: {
      outlet: Outlet,
    },
    data(): { [key: string]: any } {
      return {
        store: {
          login: loginStore,
        },
        model: 'Serkan Konakcı',
        html: '<b>bold yap</b>',
      };
    },
    provide(): any {
      return {
        store: this.store,
      };
    },
    computed: {
      ...mapGetters('loading', {
        counterStatus: 'counterStatus',
      }),
      computedValue(): string {
        return 'Computed value: ' + this.html + ' ' + this.model;
      },
    },
    methods: {
      onEmit(): void {
        console.log('emitted');
      },
      onSelectClicked({ item, index }: { item: any; index: number }): void {
        console.log(item.value, index);
      },
      forDemo(): void {
        console.log('patates 1');
      },
      ...mapMutations('loading', { refreshStatus: 'refreshStatus' }), // or ...mapMutations('loading', ['refreshStatus']),
      startLoading() {
        this.refreshStatus(true); // this.$store.commit(`loading/refreshStatus`, true);
        console.log(this.counterStatus);
        setTimeout(() => {
          this.$store.commit('loading/refreshStatus', false);
          console.log(this.counterStatus); // console.log(this.$store.getters['loading/counterStatus']);
        }, 1000);
      },
    },
  });
</script>
