<template>
  <div>
    <dx-form-builder ref="form" v-model="fields" :submit="submit" />
    {{ fields }}
  </div>
</template>

<script lang="ts">
  import DxFormBuilder, { Field } from '@/components/form/form.component.vue';
  import { defineComponent } from 'vue';
  import axios from 'axios';

  declare module '@vue/runtime-core' {
    interface Vue {
      fields: Field[];
      doThisClick: () => void;
      uploadTax: () => void;
      doThisInput: () => void;
    }
  }

  export default defineComponent({
    name: 'form-builder',
    components: {
      DxFormBuilder,
    },
    data() {
      return {
        fields: [
          {
            name: 'name',
            class: 'col-sm-6',
            description: 'Please enter your name',
            attributes: {
              // id: 'customId',
              // disabled: true,
            },
            events: {
              onClick: (f: any) => this.doThisClick(f),
              onInput: (this as any).doThisInput,
            },
          },
          {
            name: 'surname',
            class: 'col-sm-6',
            description: 'Please enter your surname',
          },
          {
            name: 'email',
            type: 'email',
            class: 'col-sm-4',
            description: `We'll never share your email`,
          },
          {
            name: 'password',
            type: 'password',
            class: 'col-sm-4',
            description: `Don't forget to set a strong·password`,
          },
          {
            name: 're-password',
            type: 'password',
            class: 'col-sm-4',
            description: `Don't forget to set a strong·password`,
            events: {
              onInput: this.doThisInput,
            },
          },
          {
            name: 'age',
            type: 'number',
            value: 18,
            class: 'col-sm-3',
            description: 'Must me over 18',
            attributes: {
              class: 'col-sm-3',
              max: 45,
              min: 18,
            },
          },
          {
            name: 'gender',
            type: 'select',
            items: [
              { text: 'Please select', value: '' },
              { text: 'Female', value: 0 },
              { text: 'Male', value: 1 },
              { text: 'Other', value: 2 },
            ],
            value: 1,
            class: 'col-sm-3',
            description: 'Select your gender',
            required: false,
          },
          {
            name: 'favorite number',
            type: 'radio',
            value: 2,
            class: 'col-sm-6',
            inline: true,
            // description: 'Please select which is your favorite number',
            items: [
              { text: 'Alpha', value: 0 },
              { text: 'Beta', value: 1 },
              { text: 'Gamma', value: 2 },
              { text: 'Omega', value: 3 },
            ],
            events: {
              onClick: this.doThisClick,
            },
          },
          {
            name: 'At Home, Which Are Present?',
            type: 'radio',
            value: 2,
            class: 'col-sm-6',
            inline: true,
            group: true,
            description: 'Select multiple choose',
            items: [
              { text: 'Spoon', value: 0 },
              { text: 'Dishes', value: 1 },
              { text: 'Carpet', value: 2 },
              { text: 'Television', value: 3 },
            ],
            events: {
              onClick: this.doThisClick,
            },
          },
          {
            name: 'address',
            class: 'col-sm-6',
            description: 'Your open address for mail',
            attributes: {
              required: false,
            },
          },
          {
            name: 'tax sheet',
            class: 'col-sm-6',
            type: 'file',
            description: 'Upload as an image',
            attributes: {
              ref: 'upload',
              required: false,
            },
            events: {
              onClick: this.uploadTax,
              onInput: (this as any).doThisInput,
            },
          },
          {
            name: 'Terms and Conditions',
            type: 'checkbox',
            label: true,
            value: false,
            class: 'col-sm-12',
            html: {
              template: `I agree to the <router-link to="/about">Terms of Service</router-link> and <a href='#' @click="testTo">Privacy Policy</a>`,
              methods: {
                testTo: (this as any).forDemo,
              },
            },
          },
          {
            name: 'send',
            type: 'submit',
            value: 'Create',
            label: false,
            attributes: { class: 'btn btn-primary float-md-end' },
          },
        ] as Field[],
      };
    },
    methods: {
      submit(): void {
        const data = this.fields.reduce((result, { id, value }): any => ({ ...result, [id]: value }), {});
        const request = axios.post('https://sabancidx-34-default-rtdb.europe-west1.firebasedatabase.app/post.json', data);
        request
          .then((response) => console.log('response first: ', response))
          .then((a) => console.log('response second: ', a))
          .catch((e) => console.log(e));
      },
      forDemo(): void {
        console.log('potato');
      },
      uploadTax() {
        console.log('Tax upload');
        console.log((this.$refs.form as typeof DxFormBuilder).$refs.upload);
        console.log((this as any).children.upload);
      },
      doThisClick(field: Field): void {
        console.log('click', field, event);
      },
      doThisInput(field: Field): void {
        console.log('Input', field, event);
      },
    },
  });
</script>

<style lang="scss">
  div {
    border: 0 solid red;
  }
</style>
