<template>
  <div class="home">
    <p>isLogged: {{ store.login.isLogged }}</p>
    <img alt="Vue logo" src="../assets/logo.png" />
    <button @click="print()">Give Me Version!</button>
    <div><button @click="print()">Give Me Version!</button></div>
    <p>PageTitle: {{ title }}</p>
    <p>Package Version: {{ version }}</p>
    <p>Vue Version: {{ vue }}</p>
    <p>SampleVariable: {{ sampleVariable }}</p>
    <p>
      Route Variable:
      <b>{{ potato }}</b>
    </p>
  </div>
</template>

<script lang="ts">
  import { LoginStore } from '@/components/login/config';
  import { Options, prop, Vue } from 'vue-class-component';

  class Props {
    potato = prop({ type: String });
  }

  @Options({
    inject: ['store'],
    props: {
      potato: { type: String },
    },
  })
  export default class Home extends Vue.with(Props) {
    private sampleVariable = true;
    public title = process.env.VUE_APP_TITLE;
    public version = process.env.VUE_APP_VERSION;
    public vue = process.env.VUE_APP_VUE_VERSION;
    public store!: { login: LoginStore };

    print(): void {
      console.log(process.env.VUE_APP_VERSION);
    }
  }
</script>
