<template>
  <div>
    <h2>Child</h2>
    <p>param: {{ this.$route.params.id }}</p>
    <p>
      SERVICES In the digital transformation process, SabancıDx adds value to your company with services including Data Service, Application
      Development, SAP Support and Consultancy, New Business Solutions, Advanced Data Analytics, and Cyber Security. SabancıDx helps companies prepare
      for the future by creating sustainable benefits with its innovative and economic solutions as well as its experience in technology. SabancıDx,
      Enhancing the Future with Digital!
    </p>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';

  export default defineComponent({
    name: 'about-param',
    mounted(): void {
      console.log('about params comes', this.$route);
    },
  });
</script>
