<template>
  <div class="container">
    <h1>store 1</h1>
    <ul>
      <li :key="key" v-for="(product, key) in available">{{ product.name }}</li>
    </ul>
    <input ref="productName" placeholder="Product Name" class="form-control" />
    <input ref="productCount" placeholder="Product Count" type="number" class="form-control" />
    <dx-button @click="addProduct">Add</dx-button>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import DxButton from '@/components/button/button.component.vue';
  import { Product } from '@/store';

  const Store = defineComponent({
    components: {
      DxButton,
    },
    computed: {
      products(): Product[] {
        console.log(this.$store);
        return this.$store.state.products;
      },
      available() {
        return this.$store.getters.getProducts;
      },
    },
    methods: {
      addProduct() {
        this.$store.commit('addProduct', {
          name: (this.$refs.productName as HTMLInputElement).value,
          count: (this.$refs.productCount as HTMLInputElement).value,
        });
      },
    },
    template: `<div>{{ count }}</div>`,
  });

  export default Store;
</script>

<style>
  ul {
    list-style: none;
    text-align: left;
    padding: 0;
  }
</style>
