<template>
  <div class="drawer" :class="{ open: open && !hide }">
    <div v-if="top && !hide" class="drawer-top">
      <div class="opener" @click="open = !open"><i class="bi bi-list" :class="{ 'bi-x': open }" /></div>
      <slot name="top" :open="open" class="asdsd">
        <div class="user-img"><img src="https://i.imgur.com/hczKIze.jpg" alt="" /></div>
      </slot>
    </div>
    <div v-if="left && !hide" class="drawer-left">
      <slot name="left" :open="open">
        <dx-navbar :links="links" :icon-only="!open" :vertical="true" />
      </slot>
    </div>
    <div class="drawer-right" :class="{ p0: hide }">
      <!--Container Main start-->
      <div class="drawer-content">
        <slot :open="open">
          {{ open }}
          <router-view />
        </slot>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import { defineComponent, PropType } from 'vue';
  import DxTooltip from '@/directives/tooltip.vue';
  import DxNavItem from '@/navbar/nav-item.component.vue';

  const DxDrawer = defineComponent({
    name: 'dx-drawer',
    directives: {
      tooltip: DxTooltip,
    },
    props: {
      links: { type: Array as PropType<typeof DxNavItem.props[]>, default: () => [], require: true },
      left: { type: Boolean, default: true },
      top: { type: Boolean, default: true },
      hide: { type: Boolean, default: false },
    },
    data() {
      return {
        open: true,
      };
    },
    computed: {
      body() {
        return document.body;
      },
    },
  });
  export default DxDrawer;
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

  :root {
    --drawer-logo-background: var(--bs-primary);
    --drawer-signout-background: var(--bs-primary);
    --drawer-logo-margin: 0;
    --drawer-header-height: 3rem;
    --drawer-menu-width: 300px;
    --drawer-menu-min-width: 68px;
    --drawer-menu-background: var(--bs-primary);
    --drawer-menu-item-height: 4rem;
    --drawer-menu-item-margin: 0;
    --drawer-menu-item-background-hover: var(--bs-light);
    --drawer-menu-item-color: var(--bs-white);
    --drawer-menu-item-color-hover: var(--bs-light);
    --drawer-contentainer-background: var(--bs-white);
    --drawer-content-background: var(--bs-white);
    --drawer-z-index: 100;
  }

  .drawer {
    width: 100%;
    height: 100%;
    display: block;

    .drawer-top {
      width: 100%;
      height: calc(var(--drawer-header-height) + 1rem);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1em;
      background-color: var(--drawer-menu-item-color-hover);
      z-index: var(--drawer-z-index);
      transition: 0.4s;
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 0.05);

      .opener {
        color: var(--drawer-menu-background);
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    .drawer-left {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0;
      left: -30%;
      width: var(--drawer-menu-min-width);
      height: 100vh;
      background-color: var(--drawer-menu-background);
      padding: 0;
      transition: 0.2s;
      z-index: var(--drawer-z-index);

      .logo {
        min-height: calc(var(--drawer-header-height) + 1rem);
        height: calc(var(--drawer-header-height) + 1rem);
        overflow: hidden;
        background: var(--drawer-logo-background);
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 0.05);
        padding-left: 1.5rem;
      }

      .sign-out {
        background: var(--drawer-signout-background);
      }
    }

    .drawer-right {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: calc(var(--drawer-header-height) + 2rem);
      padding-right: 1rem;
      padding-left: 1rem;
      background: var(--drawer-contentainer-background);
      transition: 0.4s;

      .drawer-content {
        height: 100%;
        background: var(--drawer-content-background);
      }

      &.p0 {
        padding: 0;
      }
    }

    .active::before {
      //content: '';
      //position: absolute;
      //left: 0;
      //width: 2px;
      // height: 32px;
      // background-color: var(--drawer-menu-item-color-hover);
    }

    &.open {
      .drawer-top,
      .drawer-right {
        padding-left: calc(var(--drawer-menu-min-width) + 1rem);
      }

      .drawer-left {
        left: 0;
        padding-right: 0;
      }
    }
  }

  .tooltip {
    width: auto !important;
  }

  @media screen and (min-width: 768px) {
    .drawer {
      .drawer-top {
        padding: 0 1rem 0 calc(var(--drawer-menu-min-width) + 1rem);
      }

      .drawer-right {
        padding-left: calc(var(--drawer-menu-min-width) + 1rem);
      }

      .drawer-left {
        left: 0;
      }

      &.open {
        .drawer-top,
        .drawer-right {
          padding-left: calc(var(--drawer-menu-width) + 1rem);
        }

        .drawer-left {
          width: calc(var(--drawer-menu-width));
        }
      }
    }
  }
</style>
