<template>
  <!--    v-tooltip:right="iconOnly ? (typeof title != 'undefined' ? title : label) : ''" -->
  <router-link
    :to="to"
    :class="[`${this.$props.class}`, iconOnly ? 'no-label' : '']"
    class="nav-link"
    v-bind="$attrs"
    :data-tooltip="iconOnly ? (typeof title != 'undefined' ? title : label) : ''"
    data-tooltip-conf="right"
  >
    <i v-if="!image" :class="`bi ${icon} nav-icon`" />
    <img v-else :src="require(`@/assets/${image}`)" />
    <span class="nav-label">{{ label }}</span>
  </router-link>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/runtime-core';
  import DxTooltip from '@/directives/tooltip.vue';

  const DxNavItem = defineComponent({
    name: 'dx-nav-item',
    directives: {
      tooltip: DxTooltip,
    },
    props: {
      iconOnly: { type: Boolean, default: false },
      to: { type: String, default: '/' },
      label: { type: String },
      icon: { type: String },
      title: { type: String },
      image: { type: String, require: false },
      class: { type: String, default: '' },
    },
  });
  export default DxNavItem;
</script>

<style lang="scss">
  :root {
    --nav-item-height: 3rem;
    --nav-item-margin: 0 1rem;
    --nav-item-color: var(--bs-gray);
    --nav-item-color-active: var(--bs-gray-dark);
    --nav-item-color-hover: var(--bs-gray-dark);
  }

  .nav-link {
    position: relative;
    display: flex;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
    align-items: center;
    color: var(--nav-item-color);
    margin: var(--nav-item-margin);
    transition: 0.1s;
    height: 4rem;
    flex-wrap: nowrap;
    white-space: nowrap;

    &.active {
      color: var(--nav-item-color-active);
    }

    &:hover {
      color: var(--nav-item-color-hover);
      background: rgba(255, 255, 255, 0.1);
      transition: 0.1s;
    }

    .nav-icon {
      font-size: 1.25rem;
    }

    .nav-label {
      opacity: 1;
      transition: 0.3s;
      width: auto;
    }

    &.no-label {
      column-gap: 0;

      .nav-label {
        opacity: 0;
        width: 0;
      }
    }

    @include media-breakpoint-down(md) {
      .nav-label {
        opacity: 0;
        width: 0;
      }
    }
  }

  .fix-start {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .fix-end {
    position: sticky;
    height: calc(var(--nav-item-height) + 1rem);
    top: calc(100vh - var(--nav-item-height) + 1rem);
  }
</style>
