<template>
  <nav class="nav navbar-dark bg-premium" :class="{ 'nav-vertical': vertical }">
    <li :key="index" v-for="(link, index) of links" class="nav-item" :class="link.class">
      <dx-nav-item v-bind="rest(link)" :icon-only="iconOnly" />
    </li>
  </nav>
</template>
<script lang="ts">
  import { defineComponent, PropType } from 'vue';
  import DxTooltip from '@/directives/tooltip.vue';
  import DxNavItem from './nav-item.component.vue';

  const DxNavbar = defineComponent({
    name: 'dx-navbar',
    directives: {
      tooltip: DxTooltip,
    },
    props: {
      iconOnly: { type: Boolean, default: false },
      links: { type: Array as PropType<typeof DxNavItem.props[]>, default: () => [] },
      vertical: { type: Boolean, default: false },
    },
    methods: {
      title() {
        return document.title;
      },
      rest(link: typeof DxNavItem.props) {
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        const { ['class']: classes, ...rest } = link;
        return rest;
      },
    },
  });
  export default DxNavbar;
</script>

<style lang="scss">
  .nav {
    display: flex;
    flex-wrap: nowrap;
    // flex-grow: 1;
    // overflow-y: hidden;
    // overflow-x: auto;

    &.nav-vertical {
      flex-direction: column;
      // overflow-y: auto;
      // overflow-x: hidden;

      .nav-link {
        padding-left: 1.5rem;
      }
    }

    .nav-item {
      &.fix-start {
        position: sticky;
        top: 0;
        z-index: 1;
      }

      &.fix-end {
        position: sticky;
        height: calc(var(--drawer-header-height) + 1rem);
        top: calc(100vh - var(--drawer-header-height) + 1rem);
      }
    }
  }
</style>
