<template>
  <div v-if="isLoading" class="loading">
    <div class="content">loading</div>
    <pre>
      {{ test }}
    </pre>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import store from './loading.store';

  export const DxLoading = defineComponent({
    name: 'dx-loading',
    computed: {
      test() {
        return this.$store.state.loading;
      },
      isLoading() {
        return this.$store.getters['loading/isLoading'];
      },
    },
    created() {
      this.$store.registerModule(['loading'], store);
    },
  });

  export default DxLoading;
</script>
<style lang="scss" scoped>
  .loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::before {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
      content: '';
      z-index: 0;
    }

    .content {
      width: 300px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      z-index: 1;
    }
  }
</style>
