<!--
Usage Example:

<dx-tabs>
  <dx-tab :title="'aa'">content one</dx-tab>
  <dx-tab :title="'bb'" :active="true">content second</dx-tab>
  <dx-tab :title="'cc'">content three</dx-tab>
</dx-tabs>
-->

<template>
  <div v-if="selected">
    <slot />
  </div>
</template>

<script lang="ts">
  import { inject, ref } from 'vue';
  import { Options, prop, Vue } from 'vue-class-component';
  import DxTabs from './tabs.component.vue';

  // Define props in a class
  class Props {
    title = prop({ default: '', type: String, required: true });
    active = prop({ default: false, type: Boolean, required: false });
    color = prop({ default: '', type: String, required: false });
    icon = prop({ default: '', type: String, required: false });
  }

  @Options({
    name: 'dx-tab',
  })
  export default class DxTab extends Vue.with(Props) {
    store = inject<string>('store');
    childRef = ref<InstanceType<typeof DxTab>>();
    selected: boolean = this.active; // same with getter-setter, it must be initialized for being reactive

    beforeMount(): void {
      console.log('tab');
      (this.$parent as DxTabs).tabs.push(this);
    }
  }
</script>
