<!--
Usage Example:

<dx-tabs>
  <dx-tab :title="'aa'">content one</dx-tab>
  <dx-tab :title="'bb'" :active="true">content second</dx-tab>
  <dx-tab :title="'cc'">content three</dx-tab>
</dx-tabs>
-->

<template>
  <div class="tabs">
    <div class="buttons">
      <slot :active="active" :index="index" name="left" />
      <button :key="index" v-for="(tab, index) in tabs" :class="{ active: tab.selected }" @click="setTab(index)" v-html="tab.title" />
      <slot :active="active" :index="index" name="right" />
    </div>
    <div class="content">
      <slot ref="tabRef" />
    </div>
  </div>
</template>

<script lang="ts">
  import { Options, Vue } from 'vue-class-component';
  import DxTab from '@/components/tab/tab.component.vue';
  import { ref } from 'vue';

  @Options({
    name: 'dx-tabs',
  })
  export default class DxTabs extends Vue {
    tabRef = ref<InstanceType<typeof DxTab>>();

    public tabs: DxTab[] = [];
    public index: number = 0;
    public active: DxTab | null = null;

    mounted(): void {
      const index = this.tabs.findIndex((tab) => tab.active);
      this.setTab(index === -1 ? 0 : index);
      console.log((this.$slots as any).default());
      const children = this.$.subTree.children || [];
      console.log((children as any).map((c: any) => c.type));
    }

    setTab(index: number): void {
      this.tabs.forEach((item: DxTab, key) => (item.selected = key === index));
      this.index = index;
      this.active = this.tabs[this.index];
    }
  }
</script>

<style lang="scss" scoped>
  .buttons {
    display: inline-flex;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: auto;
  }

  button {
    line-height: 32px;
    padding: 0 14px;
    border: 1px solid transparent;
    background-color: #0090ff;
    border-radius: 0;
    outline: none;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #007ad9;
    }

    &.active {
      background-color: #007ad9;
    }
  }

  .content {
    background-color: #f3f3f3;
    padding: 20px;
  }
</style>
