<template>
  <div class="container">
    <div class="d-flex justify-content-center">
      <form class="login" autocomplete="off" onsubmit="return false;" @submit.prevent="login">
        <div class="row">
          <div class="col">
            <fieldset>
              <label for="username" class="username">Username</label>
              <input v-model="username" id="username" type="email" class="username form-control" autocomplete="off" />
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <fieldset>
              <label for="password" class="password">Password</label>
              <input v-model="password" id="password" type="password" class="password form-control" autocomplete="off" />
              <small id="passwordHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </fieldset>
          </div>
        </div>
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';

  const DxLogin = defineComponent({
    name: 'dx-login',
    inject: ['store'],
    data(): { [key: string]: any } {
      return {
        username: '',
        password: '',
      };
    },
    methods: {
      login() {
        console.info('You have to authorize yourself before access requested page');
        this.store.login.isLogged = true;
        const redirectTo = this.store.login.redirectTo;
        this.$router.push(redirectTo ? redirectTo : { path: '/' });
      },
    },
  });

  export default DxLogin;
</script>

<style scoped lang="scss">
  form {
    width: 345px;
    border: 1px solid #eee;
    padding: 30px;
    margin: 30px;
    text-align: left;
  }

  fieldset {
    padding-bottom: 15px;

    &:not(:last-of-type) {
      padding-bottom: 15px;
    }

    label {
      width: 100%;
      text-align: left;
    }

    input {
      width: 100%;
    }
  }

  .btn {
    background-color: #1a24e3;
    color: #fff;
  }
</style>
