<template>
  <!--div id="app">
    <dx-loading />
    <div class="container">
      <div id="nav">
        <dx-link to="/">Home</dx-link>
        <dx-link to="/demo">Demo</dx-link>
        <dx-link to="/form">Form Builder</dx-link>
        <dx-link to="/store">Store</dx-link>
        <dx-link :patates="132" active-class="active-class-addded" append to="/about">About</dx-link>
        <dx-link active-class="active-class-addded" target="_blank" to="http://www.google.com">External</dx-link>
        <dx-tabs>
          <dx-tab :title="'aa'">ddddd</dx-tab>
          <dx-tab :title="'bb'" :active="true">sss</dx-tab>
          <dx-tab :title="'cc'">aadad</dx-tab>
        </dx-tabs>
        <router-link :to="{ name: 'About', params: { id: '10001' } }" tag="span">
          <a>Tag</a>
        </router-link>
      </div>
      <router-view />
    </div>
  </div-->
  <dx-drawer :links="links">
    <template v-slot:top="{ open }">
      <dx-navbar :links="links" :icon-only="true" class="top" />
      <div class="user-img"><img src="https://i.imgur.com/hczKIze.jpg" :alt="open" @click="onClick" /></div>
    </template>
    <template v-slot:left="{ open }">
      <dx-nav-item v-bind="{ to: '/', label: 'Pratis v2', icon: 'bi-file-ppt', class: 'logo', title: '' }" :icon-only="!open" />
      <dx-navbar :links="links" :icon-only="!open" :vertical="true" class="left" />
    </template>
    <!-- <div>
      content goes here
      <div>{{ $translate('greetings.hi') }}</div>
      <router-view />
    </div> -->
  </dx-drawer>
</template>

<script lang="ts">
  import 'bootstrap/dist/js/bootstrap.bundle';
  import { defineComponent } from '@vue/runtime-core';

  import { loginStore, LoginStore } from './components/login/config';
  import DxNavItem from './components/navbar/nav-item.component.vue';

  declare module '@vue/runtime-core' {
    interface Vue {
      html: string;
      model: string;
      store: {
        login: LoginStore;
      };
    }
  }

  export default defineComponent({
    components: {},
    data(): { [key: string]: any } {
      return {
        store: {
          login: loginStore,
        },
        model: 'Serkan Konakcı',
        html: '<b>bold yap</b>',
        links: [
          { to: '/home', label: 'Home', icon: 'bi-house' },
          { to: '/dashboard', label: 'Dashboard', icon: 'bi-speedometer2' },
          { to: '/login', label: 'Users', icon: 'bi-person' },
          { to: '/messages', label: 'Messages', icon: 'bi-envelope' },
          { to: '/form', label: 'Forms', icon: 'bi-input-cursor' },
          { to: '/bookmarks', label: 'Bookmarks', icon: 'bi-bookmark' },
          { to: '/files', label: 'Files', icon: 'bi-folder' },
          { to: '/stats', label: 'Stats', icon: 'bi-bar-chart' },
          { to: '/signout', label: 'SignOut', icon: 'bi-door-closed', class: 'fix-end sign-out' },
        ] as typeof DxNavItem.props[],
      };
    },
    provide(): { [key: string]: any } {
      return {
        store: this.store,
      };
    },
    computed: {
      computedValue(): string {
        return 'Computed value: ' + this.html + ' ' + this.model;
      },
    },
    mounted() {
      document.title = 'Dijital B2B Satın Alma Platformu | Pratis';
      document.body.setAttribute('id', 'body-pd');
    },
    methods: {
      onClick(event: any) {
        console.log(event.target);
      },
    },
  });
</script>

<style lang="scss">
  @import 'bootstrap/scss/bootstrap';

  .drawer-top {
    --nav-item-height: 3rem;
    --nav-item-margin: 0 0;
    --nav-item-color: var(--bs-gray);
    --nav-item-color-active: var(--bs-gray-dark);
    --nav-item-color-hover: var(--bs-gray-dark);

    .user-img {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 40px;
      }
    }
  }

  .drawer-left {
    --nav-item-height: 3rem;
    --nav-item-margin: 0 0;
    --nav-item-color: var(--bs-light);
    --nav-item-color-active: var(--bs-light);
    --nav-item-color-hover: var(--bs-light);

    .nav {
      flex-grow: 1;
    }
  }
</style>
