<!--
Usage Example:

The given field variables are implements from Field interface. 
Give a elements and set its own configuration as json.
So it will render an form.<template>

<dx-form-builder ref="form" v-model="fields" :submit="submit" />
-->

<template>
  <component :is="linkProps(to)" v-bind="properties">
    <slot />
  </component>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';

  const DxLink = defineComponent({
    name: 'dx-link',
    props: {
      to: {
        type: String,
        required: true,
      },
    },
    computed: {
      properties(): any {
        return { ...this.$props, ...this.$attrs };
      },
    },
    methods: {
      linkProps(url: string): any {
        if (url.match(/^(http(s)?|ftp):\/\//)) {
          this.properties.href = url;
          this.properties.to = null;
          return 'a';
        }
        return 'router-link';
      },
    },
  });

  export default DxLink;
</script>
