<template>
  <a v-if="isExternal" :href="$props.to" :target="$props.target" class="link external">
    <slot />
  </a>
  <router-link v-else v-bind="props" :to="$props.to" class="link internal">
    <slot />
  </router-link>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/runtime-core';

  const DxOldLink = defineComponent({
    name: 'dx-old-link',
    props: {
      to: { default: '/', type: String },
      target: { default: '_self', type: String },
    },
    computed: {
      props(): any {
        const { to, ...rest } = this.$props;
        return { to, rest, ...this.$attrs };
      },
      isExternal(): boolean {
        const to = this.to as string;
        return typeof to === 'string' && to.startsWith('http');
      },
      // prop() {
      //   const { ...rest } = this.$props;
      //   return { rest };
      // },
    },
  });

  export default DxOldLink;
</script>
